@import "../resources/_include-media.scss";

.big-wrapper {
  display: flex;
  box-sizing: border-box;
  padding: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gothic A1', Arial, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

.home-page {

}

@include media('<phone') {
  h1 {
    font-size: 30px;
  }
  #select-bar {
    font-size: 20px;
  }
}

@include media('>=phone') {
  h1 {
    font-size: 50px;
  }
  #select-bar {
    font-size: 40px;
  }
}

#select-bar {
  display: flex;
  flex-direction: column;
}

.sub-select {
  display: flex;
}


.select-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
}

.dropdown-class {
  // background-color: red !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-control {
  border: none !important;
  border-radius: 0px !important;
  padding: 0px 5px 0px 5px !important;
  margin: 0px 5px 0px 5px !important;
  // border-bottom: 3px black solid;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.7) !important;
  color:rgba(0, 0, 0, 0.5);
}

.dropdown-control:hover {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) !important;
}

.dropdown-placeholder {
  // text-decoration: underline !important;
}

.dropdown-placeholder:hover {
  // text-decoration: bold !important;
}

.dropdown-menu {
  // box-sizing: inherit !important;
}

.dropdown-control-limit {
  // padding: 0px 20px 0px 10px !important;
  margin-right: 10px !important;
}

.dropdown-arrow {

}

.plot-container {
  max-width: 100%;
}
.swarmplot {
  height: 300px;
  // width: 100%;
}

li {
  max-width: 100%;
  text-overflow: ellipsis;
}

#create {
}
#create:hover {
  background-color: darkgrey;
}
#create:focus { }
#create:active { }