.big-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Gothic A1', Arial, sans-serif;
}

h1 {
  // font-family: Arial, sans-serif;
  position: absolute;
  width: 613px;
  height: 112px;
  left: 82px;
  top: 238px;
  font-size: 50px;
}

#select-bar {
  display: flex;
  font-size: 40px;
}

.select-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
}

.dropdown-class {
  // background-color: red !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-control {
  border: none !important;
  border-radius: 0px !important;
  padding: 0px 5px 0px 5px !important;
  margin: 0px 5px 0px 5px !important;
  // border-bottom: 3px black solid;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.7) !important;
  color:rgba(0, 0, 0, 0.5);
}

.dropdown-control:hover {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) !important;
}

.dropdown-placeholder {
  // text-decoration: underline !important;
}

.dropdown-placeholder:hover {
  // text-decoration: bold !important;
}

.dropdown-menu {
  // box-sizing: inherit !important;
}

.dropdown-control-limit {
  // padding: 0px 20px 0px 10px !important;
  margin-right: 10px !important;
}

.dropdown-arrow {

}

#create {
  width: 215px;
  height: 61px;
  font-size: 24px;
}
#create:hover {
  background-color: darkgrey;
}
#create:focus { }
#create:active { }