@import "../resources/_include-media.scss";


.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  outline: none;
  border: none;
  font-family: inherit;
  transition: 0.3s;
}
button:hover {
  
}
button:focus { }
button:active { }

@include media('<phone') {
  button {
    font-size: 18px;
    border-radius: 10px;
    width: 180px;
    height: 40px;
  }

  #logout {
    width: 150px;
  }
  #login {
    width: 160px;
    height: 50px;
  }
}

@include media('>=phone') {
  button {
    font-size: 18px;
    border-radius: 10px;
    width: 180px;
    height: 40px;
  }
  
  #logout {
    width: 150px;
  }

  #login {
    width: 215px;
    height: 61px;
    font-size: 24px;
  }
}


#logout {
  background: #FFCC81;
  margin: 2em 0 2em 0;
}

#logout:hover {
  background: #f8a529;
}

#login {
  background: #ABFF9D;
}

#login:hover {
  background: #4fff30
}