.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  outline: none;
  border: none;
  transition: 0.3s;
}
button:hover {
  
}
button:focus { }
button:active { }


#logout {
  // position: absolute;
  width: 215px;
  height: 61px;
  background: #FFCC81;
  font-size: 24px;
}

#logout:hover {
  background: #f8a529;
}

#login {
  position: absolute;
  width: 215px;
  height: 61px;
  left: 82px;
  top: 350px;

  background: #ABFF9D;
  font-size: 24px;

}

#login:hover {
  background: #4fff30
}